/*background*/
body, html {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(#2e8775, #96ceb4, #f7c9b7, #f7b7b7, #ffabbe, #ff85b6);
  background-repeat: no-repeat;
}

/*main box*/
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.box {
  height: 600px;
  width: 550px;
}

/*icon*/
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15%;
}

img {
  width: 35%;
  height: 35%;
  transition: 0.25s;
  border-radius: 50%;
}

img:hover {
  transform: scale(1.1125);
}

/*buttons*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

li {
  display: flex;
  justify- content: space-around;
  margin: 25px;
}

.botoni {
    /*font*/
  color: #001f3b;
  letter-spacing: 0.025rem;
  font-size: 1.125rem;
  text-decoration: none;

    /*background*/
  width: 100%;
  height: 30%;
  background-color: #a1e8c6;
  border-radius: 2rem;
  line-height: 3.5rem;
  border: 2px solid #33B2A0;
  box-shadow: #33B2A0 12px 12px 0px 0px;
}

.botoni:hover {
  transform: translate(4px, 4px);
  box-shadow: #33B2A0 8px 8px 0px 0px;
}