/*background*/
body, html {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(#2e8775, #96ceb4, #f7c9b7, #f7b7b7, #ffabbe, #ff85b6);
  background-repeat: no-repeat;
}

/*main box*/
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box {
  height: 600px;
  width: 400px;
}

/*icon*/
.icon {
  width: 30px;
  height: 30px;
  position: relative;
  transition: 0.25s;
}

img {
  border-radius: 50%;
}

.icon:hover {
  transform: scale(1.1125);
}