/*background*/
body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#2e8775, #96ceb4, #f7c9b7, #f7b7b7, #ffabbe, #ff85b6);
  background-repeat: no-repeat;
}

/*main box*/
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  position: relative;
}

.box {
  height: 600px;
  width: 550px;
}

/*icon*/
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

img#myid {
  width: 35%;
  height: 35%;
  transition: 0.25s;
  border-radius: 50%;
}

img#myid:hover {
  transform: scale(1.1125);
}

/*KER*/
.name {
  font-family: 'Nunito', sans-serif;
  color: #2E6C87;
  font-size: 40px;
  text-align: center;
  padding: 15px;
}

/*buttons*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

li {
  display: flex;
  justify- content: space-around;
  margin: 25px;
}

.botoni {
    /*font*/
  color: #2E6C87;
  letter-spacing: 0.030rem;
  font-size: 1rem;
  text-decoration: none;

    /*background*/
  width: 100%;
  height: 30%;
  background-color: #a1e8c6;
  border-radius: 2rem;
  line-height: 3.5rem;
  border: 2px solid #33B2A0;
  box-shadow: #33B2A0 12px 12px 0px 0px;
}

.botoni:hover {
  transform: translate(4px, 4px);
  box-shadow: #33B2A0 8px 8px 0px 0px;
}

/*mini icon*/
#mini {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  filter: invert(50%) sepia(41%) saturate(1098%) hue-rotate(303deg) brightness(104%) contrast(96%);
}

.credits {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  color: #FA6385;
}